.wrapper {
  position: relative;
  display: inline-flex;
  align-items: center;
}

.input {
  padding-right: 2.5rem;
  padding-left: 0.5rem;
  height: 2rem;
  font-size: 1rem;
}

.toggleButton {
  position: absolute;
  right: 0.5rem;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  line-height: 1;
  display: flex;
  align-items: center;
}

.clearButton {
  position: absolute;
  right: 2rem;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  line-height: 1;
  display: flex;
  align-items: center;
}
